<launch>

  <!-- Default launch file. -->
  <include
    file = "$(find uvc_ros_driver)/launch/uvc_ros_driver.launch" />

  <!-- Rotate the left camera (cam1) -->
  <node
    pkg = "uvc_ros_driver"
    type = "flip_image"
    name = "flip_image"
    output = "screen" >
  </node>

  <!--<node-->
    <!--pkg = "image_rotate"-->
    <!--type = "image_rotate"-->
    <!--name = "image_rotate"-->
    <!--args = "image:=uvc_camera/cam_1/image_raw"-->
    <!--output = "screen" >-->
    <!--<param-->
      <!--name = "target_frame_id"-->
      <!--value = "" />-->
    <!--<param-->
      <!--name = "target_y"-->
      <!--value = "1.0" />-->
    <!--<param-->
      <!--name = "source_y"-->
      <!--value = "-1.0" />-->
    <!--<remap-->
      <!--from = "rotated/image"-->
      <!--to = "uvc_camera/cam_1_rotated/image_raw" />-->
  <!--</node>-->

</launch>
